{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_superuser %}
    <p>(As a superuser you are not associated with any particular Tenant)</p>
{% else %}
    {% if tenant_desc %}
        <p>Your tenant: {{ tenant.desc }}</p>
    {% else %}
        <p>You are not associated with any tenant yet.</p>
    {% endif %}
{% endif %}
<br/>
<h1>
    <a href="{% url 'tenants:sftp-drop-dashboard' %}" 
       style="text-decoration: none; 
              color: white; 
              background-color: #4CAF50; 
              padding: 10px 20px; 
              border-radius: 5px;">
        sFTP Drop Dashboard
    </a>
</h1>

{% endblock %}
