{% extends "admin/change_form.html" %}

{% block object-tools %}
    {{ block.super }}
    {% if original and show_backfill_canonical_fields_from_canonical_contract_button %}
        {% with model_name=original.contract|cut:"contracts." %}
        <a class="button" href="{% url 'contracts:view' model_name %}">
            View Contract
        </a>
        {% endwith %}
        &nbsp;
        <a class="button" href="{% url 'admin:backfill_canonical_fields_from_canonical_contract' original.id %}">
            Backfill Canonical Fields from Canonical Contract
        </a>
        
    {% endif %}
   
{% endblock %}
